<p>
  <strong>Name:</strong>
  <%= customer.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= customer.age %>
</p>

<p>
  <strong>Wish:</strong>
  <%= customer.wish %>
</p>

  <p>
    <%= link_to "Destroy Customer", [customer.book, customer], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>