<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

Our Book has <%= Book.public_count %> books and counting!

<ul>
  <% @books.each do |book| %>
     <% if book.wish? %>
    <li><%= link_to book.title, book %></li>
    <%end%>
  <% end %>

  </ul>

  <br><br><br>
  <ul>

    <% @books.each do |book| %>
     <% unless book.wish? %>
    <li><%= link_to book.title, book %></li>
    <%end%>
  <% end %>
</ul>
 
<br>
 <%= link_to "New Book", new_book_path %>